{% extends "main.html.twig" %}

{% block content %}
<div class="container mt-5">
	<form method="POST" onsubmit="return singup(event)">
		<div class="row mb-3">
			<label for="inputUser" class="col-sm-2 col-form-label">Usuário</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputUser" name="user">
			</div>
		</div>
		<div class="w-100 text-center">
			<button class="btn btn-primary">Cadastrar</button>
		</div>
	</form>
</div>

<script>
	async function singup(e) {
		e.preventDefault();
		const user = document.getElementById('inputUser').value;
		if (!user || user.length <= 4) {
			alert('Preencha o campo usuário!');
			return false;
		}
		const res = await axios.post('/singup', { user });
		if (!res.data.success) {
			alert(res.data.error);
			return false;
		}
		const resp = await axios.get('/generate-registration-challenge');
		let attResp;
		try { // Pass the options to the authenticator and wait for a response
			attResp = await SimpleWebAuthnBrowser.startRegistration(resp.data);
		} catch (error) {
			console.error(error);
			alert('Error: ' + error.message);
			return false;
		}

		const respv = await axios.post('/validate-registration-challenge', attResp);
		if (!respv.data.success) {
			alert(respv.data.error);
			return false;
		}

		alert('Usuário cadastrado com sucesso!');
		window.location.href = '/home';
		return false;
	}
</script>
{% endblock %}